/*
=== WP Login Theme ===
Contributors: Bhupender Singh
Tags: logo, background, widget, login, registration, theme, custom, log in, register, sidebar, gravatar, redirection, e-mail, design, wp-login, wp-admin
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Requires at least: 4.6
Tested up to: 4.9
Stable tag: 1.0.0
*/

body {
	background: url(../img/login-bg.jpg) no-repeat top center;
}
.login h1 a {
	background: url(../img/logo.png) no-repeat top center;
	/* make sure to replace this! */
	width: 300px!important;
	background-size: contain!important;
	height: 90px!important;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}
form {
	margin-left: 8px;
	padding: 26px 24px 46px;
	font-weight: normal;
	background: white;
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	box-shadow: none;
}
.login form {
	background: #020066;
}
.login label {
	color: #fff;
}
body form .input {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 200;
	font-size: 24px;
	width: 97%;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #E5E5E5;
	background: #FBFBFB;
	outline: none;
	box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
}
.login #backtoblog a,
.login #nav a {
	text-decoration: none;
	color: #020066;
}
